.empty-title
  text-align: center
  font-size: 35px
  font-weight: 700
  font-style: italic

.card
  display: flex
  flex-direction: column
  margin: 0 10px 15px
  border: 1px solid grey
  padding: 10px!important
  max-width: 400px


  &__title
    font-size: 26px
    font-weight: 700
    font-style: italic

  &__subtitle
    font-size: 20px
    font-weight: 700
    font-style: italic
    padding: 10px
    color: black

  &__img
    max-width: 100%
    max-height: 300px
    object-fit: inherit
    margin: 0 auto

  &__text
    font-size: 18px
    font-weight: 500
    font-style: italic
    padding: 10px
