<mat-progress-spinner
  *ngIf="(loading | async) else cocktailsArea"
  mode="indeterminate"
></mat-progress-spinner>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<div *ngIf="(cocktails | async)?.length === 0">
  <h2 class="empty-title">It's empty here</h2>
</div>

<ng-template #cocktailsArea>
  <div class="cocktails" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="70%"
      fxFlex.lt-lg="50%"
      fxFlex="33%"
      *ngFor="let cocktail of cocktails | async"
    >
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="card__title">{{ cocktail.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="card__img" [src]="cocktail.image! | image"
             [alt]="'Photo of ' + cocktail.name">
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/', cocktail.id, cocktail.name, 'cocktail']">View</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
