<div class="cocktail-info">
  <div class="top-block">
    <img class="img"[src]="(cocktail | async)?.image! | image"
         [alt]="'Photo of ' + (cocktail | async)?.name">
    <div class="top-block-info">
      <h2 class="title">{{ (cocktail | async)?.name }}</h2>
      <div class="list-block">
        <h3 class="list-title">Ingredients</h3>
        <ol class="main-list" id="{{ (cocktail | async)?.id }}">
          <li class="list-item" *ngFor="let ing of (cocktail | async)?.ingredients">{{ ing.ing }}: {{ ing.amount }}</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="bottom-block">
    <h3 class="bottom-block-title">Recipe:</h3>
    <p class="recipe-text">{{ (cocktail | async)?.recipe }}</p>
  </div>
</div>
