.cocktail-info
  padding: 25px 0

.top-block
  display: flex
  flex-wrap: wrap
  margin-bottom: 15px

.img
  width: 400px
  height: 400px
  object-fit: inherit
  border-radius: 7px
  margin: 20px 100px 20px
  box-shadow: 0px -1px 8px 9px lightskyblue

.top-block-info
  text-align: center
  padding-top: 20px

.title
  font-size: 30px
  font-weight: 700
  font-style: italic
  letter-spacing: 1px

.list-block
  padding: 10px 15px

.list-title
  font-size: 22px
  font-weight: 700
  font-style: italic
  letter-spacing: 1px


.main-list
  margin-left: 50px

.list-item
  font-size: 16px
  font-weight: 500
  font-style: italic
  text-transform: capitalize
  padding: 0 10px

.bottom-block
  padding: 10px 15px

.bottom-block-title
  font-size: 22px
  font-weight: 700
  font-style: italic
  letter-spacing: 1px

.recipe-text
  font-size: 18px
  font-weight: 500
  font-style: italic
