<mat-progress-spinner
  *ngIf="(loading | async) else cocktailsArea"
  mode="indeterminate"
></mat-progress-spinner>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<ng-template #cocktailsArea>
  <div class="cocktails" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="80%"
      fxFlex.lt-lg="50%"
      fxFlex="33%"
      *ngFor="let cocktail of cocktails | async"
    >
        <mat-card class="card" *appHasRoles="{role: ['user'], published: cocktail.isPublished}">
        <mat-card-header>
          <mat-card-title class="card__title">{{ cocktail.name }}</mat-card-title>
        </mat-card-header>
          <img
            style="height: 300px"
            [src]="cocktail.image! | image"
            [alt]="'Photo of ' + cocktail.name"
            mat-card-image
          />
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="[cocktail.id, cocktail.name, 'cocktail']">View</button>
          <div fxFlex="row" style="margin-left: 10px" *appOpenedRoles="['admin']">
            <button mat-raised-button color="warn" (click)="removeCocktail(cocktail.id)">Delete</button>
            <button mat-raised-button color="accent" *ngIf="!(cocktail.isPublished)" (click)="onPublish(cocktail.id)">Published</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
