.cocktails
  display: flex

.card
  margin: 0 10px 15px
  border: 1px solid grey
  padding: 15px!important

  &__title
    font-size: 26px
    font-weight: 700
    font-style: italic

  &__subtitle
    font-size: 20px
    font-weight: 700
    font-style: italic
    padding: 10px
    color: black

  &__img
    max-width: 100%
    margin: 0 auto

  &__text
    font-size: 18px
    font-weight: 500
    font-style: italic
    padding: 10px


