.form-card
  max-width: 900px
  margin: 50px auto
  box-shadow: 0px -1px 8px 9px lightskyblue


.form-block
  &__form-title
    font-size: 25px
    font-weight: 700
    font-style: italic
    text-align: center
    letter-spacing: 1px
    padding: 20px

  &__content
    padding: 15px

.form
  display: flex
  flex-direction: column

.invalid-form-text
  font-size: 16px
  font-weight: 700
  text-align: center
  padding-bottom: 20px

.form-group-top
  margin-bottom: 20px

.add-ing
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 30px

.form-group-top-title
  font-size: 18px
  font-weight: 700
  font-style: italic
  letter-spacing: 1px
  padding: 13px 15px 0

.form-group-title
  font-size: 18px
  font-weight: 700
  font-style: italic
  letter-spacing: 1px
  text-align: center

.form-group-bottom
  display: flex
  justify-content: center
  align-items: center

.ings
  margin: 5px

.ings-block
  display: flex
  flex-direction: column

.btn-delete-ing
  margin: 0 0 16px 10px

.btn-submit
  display: flex
  justify-content: center
