<mat-card class="form-card">
  <mat-card-title class="form-block__form-title">Create</mat-card-title>
  <mat-card-content class="form-block__content">
    <form
      class="form"
      [formGroup]="reactiveForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Cocktail name</mat-label>
        <input
          type="text" formControlName="name" id="name" matInput/>
      </mat-form-field>
      <mat-error
        *ngIf="fieldHasError('name', 'required')"
        class="invalid-form-text"
      >
        Enter cocktail name!
      </mat-error>
      <div class="form-group-top" formArrayName="ingredients">
        <div class="add-ing">
          <h4 class="form-group-top-title">Ingredients</h4>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="addIngredients()"
          >
            Add ingredients
          </button>
        </div>
        <div *ngFor="let step of getIngredients(); let i = index">
          <div [formGroupName]="i">
            <div class="">
              <h4 class="form-group-title">Ingredient #{{ i + 1 }}</h4>
            </div>
            <div class="form-group-bottom">
              <div class="ings-block">
                <mat-form-field appearance="outline" class="ings">
                  <mat-label>Ingredient</mat-label>
                  <input
                    type="text" formControlName="ing" id="ingredient" matInput/>
                </mat-form-field>
                <mat-error
                  *ngIf="fieldIngredientsError('ing', i,'required')"
                  class="invalid-form-text"
                >
                  Enter cocktail ingredient!
                </mat-error>
              </div>
              <div class="ings-block">
                <mat-form-field appearance="outline" class="ings">
                  <mat-label>Ingredient amount</mat-label>
                  <input
                    type="text" formControlName="amount" id="amount" matInput/>
                </mat-form-field>
                <mat-error
                  *ngIf="fieldIngredientsError('amount', i,'required')"
                  class="invalid-form-text"
                >
                  Enter ingredient amount!
                </mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Cocktail recipe</mat-label>
        <textarea
          type="text" formControlName="recipe" id="recipe" matInput></textarea>
      </mat-form-field>
      <mat-error
        *ngIf="fieldHasError('recipe', 'required')"
        class="invalid-form-text"
      >
        Enter cocktail recipe!
      </mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input formControlName="image"></app-file-input>
      </mat-form-field>
      <div class="btn-submit">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="reactiveForm.invalid || isAddIng"
        >SAVE
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
