<div class="form-wrapper">
  <mat-card class="form-block">
    <mat-card-title class="form-block__form-title">Login</mat-card-title>
    <mat-card-content class="form-block__content">
      <form
        #form="ngForm"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        class="form"
      >
        <div *ngIf="error | async" class="error">
          {{ (error | async)?.error }}
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email" name="email" autocomplete="username"
            email required matInput ngModel #email="ngModel"
          />
        </mat-form-field>
        <mat-error class="mat-error" *ngIf="email.touched && email.hasError('required')">
          Email is required!
        </mat-error>
        <mat-error class="mat-error" *ngIf="email.touched && email.hasError('email')">
          Enter a correct email!
        </mat-error>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password" name="password" autocomplete="current-password"
            required matInput ngModel #password="ngModel"
          />
        </mat-form-field>
        <mat-error class="mat-error" *ngIf="password.touched && password.hasError('required')">
          The password is required!
        </mat-error>
        <div fxLayout="column" fxLayoutAlign="center">
          <button
            type="submit"
            mat-button
            class="btn-login"
            [disabled]="form.invalid"
          >
            SIGN IN
          </button>
          <button
            type="button"
            mat-raised-button
            color="default"
            class="btn-link-fb"
            (click)="googleLogin()"
          >
            <img src="assets/icons/google-icon.svg" alt="facebook logo" class="icon-fb">
            SIGN IN WITH GOOGLE
          </button>
          <button
            type="button"
            mat-raised-button
            color="default"
            class="btn-link-fb"
            (click)="fbLogin()"
          >
            <img src="assets/icons/fb-icon.svg" alt="facebook logo" class="icon-fb">
            SIGN IN WITH FACEBOOK
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar *ngIf="loadingFb | async" mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic magnam minima nisi possimus praesentium qui ratione repellendus similique voluptates!</p>
